@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&amp;display=swap'); 


@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,700&amp;display=swap');


@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,700&amp;family=Shrikhand&amp;display=swap');



@import url('https://fonts.googleapis.com/css2?family=Shrikhand&amp;display=swap'); 


@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,700&amp;display=swap');


@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,700&amp;family=Shrikhand&amp;display=swap');

body
{
  background-color: black;
   font-family: 'Ubuntu';
  /* font-style: italic; */
  font-weight: 600;
  font-display: swap;
}
